{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>
    <h1>All articles in {{ category.name }} </h1>

    {% for article in articles %}
        <div>
            <h3> <br> Title : {{ article.title }} <br> Content : {{ article.content }} </h3>
        </div>
    {% endfor %}

{% endblock %}
